{% extends 'base.html' %}

{% block content %}
    {% set breed = breed_img[0]['breeds'][0] %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for img in breed_img %}
                {% if loop.index0 == 0%}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" class="active"></li>
                {% else %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}"></li>
                {% endif %}
            {% endfor %}
        </ol>
      <div class="carousel-inner">
          {% for img in breed_img %}
              {% if loop.index0 == 0%}
                  <div class="carousel-item active">
              {% else %}
                  <div class="carousel-item">
              {% endif %}
                    <img src="{{ img['url'] }}" class="d-block w-100 h-100" alt="...">
                  </div>
          {% endfor %}
      </div>
    </div>
{% endblock %}