{% extends 'base.html' %}

{% block content %}
    {% set breed = breed_img[0]['breeds'][0] %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for img in breed_img %}
                {% if loop.index0 == 0%}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" class="active"></li>
                {% else %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}"></li>
                {% endif %}
            {% endfor %}
        </ol>
      <div class="carousel-inner">
          {% for img in breed_img %}
              {% if loop.index0 == 0%}
                  <div class="carousel-item active">
              {% else %}
                  <div class="carousel-item">
              {% endif %}
                    <img src="{{ img['url'] }}" class="d-block w-100 h-100" alt="...">
                  </div>
          {% endfor %}
      </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ breed['name'] }}</h2>
            <h6>{{ breed['temperament'] }}</h6>
            <p>Origin: {{ breed['origin'] }}</p>
            <p>{{ breed['description'] }}</p>
            <p>Life span: {{ breed['life_span'] }} years</p>
            <p>Weight: {{ breed['weight']['metric'] }} kg</p>
        </div>
    </div>
{% endblock %}